/* Nav Bar Configuration*/
.navbar {
    background: #0C2A2A;
}
.nav-link,
.navbar-brand {
    color: #fff;
    cursor: pointer;
}
.nav-link {
    margin-right: 1em !important;
}
.nav-link:hover {
    color: #11734f;
}
.navbar-collapse {
    justify-content: flex-end;
}

/*About Me - Header Configuration*/
.header {
    background-image: url("images/aboutMe-background.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
}
.overlay {
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.6);
}
.btn-container {
    display: flex;
    justify-content: center;
    gap: 15px;
}
.description {
    left: 50%;
    position: absolute;
    top: 45%;
    transform: translate(-50%, -55%);
    text-align: center;
}
.description h1 {
    color: #ffffff;
}
.description p {
    color: #fff;
    font-size: 1.3rem;
    line-height: 1.5;
}
.description button {
    border: 1px solid rgb(7, 22, 48);
    background: rgb(7, 22, 48);
    border-radius: 0;
    color: #fff;
}
.description button:hover {
    border: 1px solid #fff;
    background: rgb(7, 22, 48);
    color: #0a4630;
}
@media (max-width: 575.98px) {
    .description {
        left: 0;
        padding: 0 15px;
        position: absolute;
        top: 10%;
        transform: none;
        text-align: center;
    }
    .description h1 {
        font-size: 2em;
    }
    .description p {
        font-size: 1.2rem;
    }
    .features {
        margin: 0;
    }
}

/* Body Configuration  */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    background: #7F7F6D;
}
/* Brief Description */
.brief h2 {
    font-size: 2.5em; /* Adjust size as needed */
    font-weight: bolder;
    color: #fff;
    margin-bottom: 20px; /* Space below the title */
    padding-left: 2.5%;
    padding-top: 2.5%;
}
.brief h3 {
    font-size: 1.4em; /* Adjusts the font size of the description */
    line-height: 1.5; /* Gives a better readability to the text */
    text-align: justify; /* Justifies the text for a cleaner look */
    color: #fff;
    padding-top: 5%;
    padding-left: 3.5%;
    padding-right: 12.5%;
}

.profile-content {
    display: flex;
    align-items: flex-start; /* Aligns items to the start of the flex container */
    gap: 1.5%; /* Adjust the gap between the image and the text */
    padding-left: 3.5%;
}

.profile-image {
    width: 20%; /* Adjust the width as needed */
    height: auto; /* Maintains the aspect ratio of the image */
    border: 3px solid #333333; /* Adds a border with a color of your choice */
    border-radius: 1.5%; /* Optional: if you want rounded corners */
}

.profile-description {
    flex: 1; /* Allows the text box to fill up the remaining space */
}

@media screen and (max-width: 768px) {
    .profile-content {
        flex-direction: column;
    }

    .profile-image {
        width: 100%; /* Full width on smaller screens */
        height: auto;
        margin-bottom: 20px; /* Adds space between the image and the text below */
    }
}
/* Modified and added styles for mobile responsiveness */

@media (max-width: 600px) {
    .brief h2 {
        font-size: 2em; /* Adjusted font size */
    }
    .brief h3 {
        font-size: 0.8em; /* Adjusted font size */
    }
    .education-title h2,
    .instituion .feature-title,
    .instituion h4 {
        font-size: 0.8em; /* Adjusted font size */
    }
    .btn-edu {
        font-size: 1em; /* Adjusted font size */
    }
    /* ... other styles ... */
}

/* Additional styles for even smaller screens */

@media (max-width: 300px) {
    .brief h2 {
        font-size: 1.5em; /* Adjusted font size */
    }
    .brief h3 {
        font-size: 0.6em; /* Adjusted font size */
    }
    .education-title h2,
    .instituion .feature-title,
    .instituion h4 {
        font-size: 0.6em; /* Adjusted font size */
    }
    .btn-edu {
        font-size: 0.8em; /* Adjusted font size */
    }
    /* ... other styles ... */
}

/*Education Container/configuration*/
.education-title h2 {
    font-size: 2.5em; /* Adjust size as needed */
    font-weight: bolder;
    color: #fff;
    margin-bottom: 10px; /* Space below the title */
    padding-left: 2.5%;
    padding-top: 2.5%;
}

/* ... Other existing styles ... */

/* Modified and added styles for mobile responsiveness */
@media (max-width: 600px) {
    .education-title h2 {
        font-size: 2em; /* Adjusted font size */
    }
    /* ... Other styles ... */
}

/* Additional styles for even smaller screens */
@media (max-width: 300px) {
    .education-title h2 {
        font-size: 1.5em; /* Adjusted font size */
    }
    /* ... Other styles ... */
}

.education-Row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; /* Wraps onto the next line if not enough space */
    gap: 25px; /* Space between institutions */
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 10%;
}
.instituion .feature-title {
    font-size: 2em;
    font-weight: 600;
    color: #fff;
    text-align: center;
    flex-wrap: nowrap;
    margin-bottom: 10%; /* Space below the title */
}
.instituion {
    flex: 1;
    background-color: #0C2A2A;
    padding: 1.75%;
    flex-wrap: nowrap;
    border-radius: 10px; /* Rounded corners */

}
.instituion h4 {
    color: #fff;
    flex: none;
    font-size: 20px;
    text-align: center;
    flex-wrap: nowrap;
    padding: 15px;
}
.edu-img {
    max-width: 300px;
    height: auto;
    object-fit: cover; /* Ensures the images cover the set size without distortion */
    display: block;
    margin: 20px auto;
}
.btn-edu {
    font-size: 1.5em;
    font-weight: 500;
}
/*Footer configuration */
.page-footer {
    flex-grow: 1;
    background-color: #222;
    color: #ccc;
    padding: 2vw;
}
.footer-row {
    display: flex;
    justify-content: space-between; /* This will give equal space between the columns */
    flex-wrap: nowrap; /* This will prevent wrapping to the next line */
}
.footer-col {
    font-size: 1vw;
    gap: 20px;
}
.footer-title {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    flex-wrap: nowrap;
}
.footer-text {
    font-size: 16px;
    text-align: center;
}
/* For Mobile use (resizing*/
@media (max-width: 300px) {
    .footer-title {
        font-size: 12px; /* minimum font size */
        font-weight: bold;
        flex-wrap: nowrap;
    }
    .footer-text {
        font-size: 0.8vw; /* minimum font size */
        flex-wrap: nowrap;
        padding: 3px;
    }
}
/* For Mobile use (resizing) */
@media (max-width: 600px) {
    .footer-title {
        font-size: 12px; /* minimum font size */
        font-weight: bold;
        flex-wrap: nowrap;
    }
    .footer-text {
        font-size: 10px; /* minimum font size */
        flex-wrap: nowrap;
        padding: 3px;
    }
}
.btn {
    font-size: 18px;
    border: 1px solid rgb(7, 22, 48);
    background: rgb(7, 22, 48);
    border-radius: 0;
    white-space: nowrap;
    text-align: center;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    color: #fff;
}
@media (max-width: 500px) {
    .btn {
        font-size: 16px;
        border: 1px solid rgb(7, 22, 48);
        background: rgb(7, 22, 48);
        border-radius: 0;
        text-align: center;
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        color: #fff;
    }
}
.btn:hover {
    border: 1px solid rgb(7, 22, 48);
    background: #0a4630;
    color: #fff;
}
.SocialIcon {
    width: 24px; /* or any size you prefer */
    height: 24px;
    display: inline-block; /* Ensures the width and height are respected for inline elements like img */
}
.footer-copyright {
    color: #666;
    text-align: center;
    font-size: 12pt;
    padding-top: 20px;
}
.footer-time {
    color: #666;
    text-align: center;
    font-size: 12pt;
    padding: 0px;
}
