/* Nav Bar Configuration*/
.navbar {
    background: #185454;
}
.nav-link,
.navbar-brand {
    color: #fff;
    cursor: pointer;
}
.nav-link {
    margin-right: 1em !important;
}
.nav-link:hover {
    color: #11734f;
}
.navbar-collapse {
    justify-content: flex-end;
}

/* Add custom CSS styles for your carousel here */
.carouselcontent {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    background-color: #FEFFDA;
    padding-bottom: 0.5%;
}
.carousel-text {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 1%;
    border-radius: 1%;
    color: #fff;
  }
  
.carousel-inner img {
    display: block;
    max-height: 480px; /* Maximum height for large displays */
    width: auto;
    object-fit: contain;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 1280px) {
    .carousel-inner img {
      max-width: 100%;
      max-height: calc(100vw * (720 / 1280)); /* Keep the aspect ratio 720p */
    }
}

/* Ensure that carousel captions are responsive and do not overflow the screen width on mobile devices */
.carousel-text {
    position: absolute;
    right: 10%;
    bottom: 0.2%;
    left: 10%;
    z-index: 10;
    color: #fff;
    text-align: center;
}

/* For smaller devices, adjust the caption placement and font sizes */
@media (max-width: 768px) {
    .carousel-text {
      right: 10%;
      left: 10%;
      text-align: center;
    }

    .carousel-text h1 {
      font-size: 1.5rem;
    }

    .carousel-text p {
      font-size: 1rem;
    }
}

/* Body Configuration  */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0; /* ensure there's no margin */
    background-color: #222;
}

.content {
    flex: 1 0 auto; /* this will ensure the content grows to take up any available space */
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    margin-right: 10%;
    padding: 2.5%;
    background: #ECFFDA;
}


.Articles {
    margin: 0 auto;
    max-width: 1200px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.feature {
    margin-bottom: 20px;
}

.feature-gallery {
    flex: 1;
    padding: 15px;
}

.feature-heading {
    font-size: 2em;
    margin-bottom: 10px;
}

.lead {
    font-size: 1.2em;
}

.feature-divider {
    border: 0;
    border-top: 1px solid #eee;
    margin: 20px 0;
}

/* Project Image Styles */
.projectImage {
    width: 100%; /* Adjusted from max-width to width */
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    object-fit: cover; /* or object-fit: contain; depending on your preference */
}

/* Mobile Responsive Styles */
@media (max-width: 768px) {
    .projectImage {
        max-width: 100%;
    }
}

/*Footer configuration */
.page-footer {
    width: 100%; /* ensure the footer takes up the full width */
    background-color: #222;
    color: #ccc;
    padding: 2vw;
}
.footer-row {
    display: flex;
    justify-content: space-between; /* This will give equal space between the columns */
    flex-wrap: nowrap; /* This will prevent wrapping to the next line */
}
.footer-col {
    font-size: 1vw;
    gap: 20px;
}
.footer-title {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    flex-wrap: nowrap;
}
.footer-text {
    font-size: 16px;
    text-align: center;
}
/* For Mobile use (resizing*/
@media (max-width: 500px) {
    .footer-title {
        font-size: 12px; /* minimum font size */
        font-weight: bold;
        flex-wrap: nowrap;
    }
    .footer-text {
        font-size: 0.8vw; /* minimum font size */
        flex-wrap: nowrap;
        padding: 3px;
    }
}
/* For Mobile use (resizing) */
@media (max-width: 600px) {
    .footer-title {
        font-size: 12px; /* minimum font size */
        font-weight: bold;
        flex-wrap: nowrap;
    }
    .footer-text {
        font-size: 10px; /* minimum font size */
        flex-wrap: nowrap;
        padding: 3px;
    }
}
.btn {
    font-size: 18px;
    border: 1px solid rgb(7, 22, 48);
    background: rgb(7, 22, 48);
    border-radius: 0;
    white-space: nowrap;
    text-align: center;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    color: #fff;
}
@media (max-width: 500px) {
    .btn {
        font-size: 16px;
        border: 1px solid rgb(7, 22, 48);
        background: rgb(7, 22, 48);
        border-radius: 0;
        text-align: center;
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        color: #fff;
    }
}
.btn:hover {
    border: 1px solid rgb(7, 22, 48);
    background: #0a4630;
    color: #fff;
}
.SocialIcon {
    width: 24px; /* or any size you prefer */
    height: 24px;
    display: inline-block; /* Ensures the width and height are respected for inline elements like img */
}
.footer-copyright {
    color: #666;
    text-align: center;
    font-size: 12pt;
    padding-top: 20px;
}
.footer-time {
    color: #666;
    text-align: center;
    font-size: 12pt;
    padding: 0px;
}
